$skullwhite: #f4f4f4;
$chaosblack: #000;

$anvilblack: #1f1f1f;
$bloodred: #bf0000;
$chainmail: #333;
$crematewhite: #ddd;
$chalicegold: #BF8E5A;

$lookingglassblack: rgba(0, 0, 0, 0.8);
$lookingglassgray: rgba(58,58,58,0.7);

//item colors
$item-plentiful: #fff;
$item-common: #6aa84f;
$item-rare: #3d85c6;
$item-exotic: #FFA500;
$item-legendary: red;